.div10{
    border-top: 5px solid greenyellow !important;
    border-right: 1px solid grey !important;
}
.div11{
    border-top: 5px solid red !important;
    border-left: 1px solid grey !important;
}