.first23{
    color: #3067f0 !important;
    font-weight: bold !important;
}
body{
    background-color: #111622 !important;
}
.main2000{
    background-color: #111622 !important;
}
.f4_2{
    color: white !important;
}