.first23{
    color: #3067f0 !important;
    font-weight: bold !important;
}
.main3000{
    background-color: #2c3546 !important;
}
.f4_3{
    color: white !important;
    font-weight: bolder !important;
}